notebook
numpy
scipy
scikit-learn
pandas
openpyxl
fsspec
s3fs
pandavro
sqlalchemy
boto3
requests
bs4
lxml
transformers[torch]
pip-tools
opencv-python-headless
matplotlib
torch>=2.0
torchvision
tensorflow
tensorflow_hub
seaborn
pydotplus
lightgbm
faiss-cpu
lightning
ray[tune]
